<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>

<p>
  <ul>
  <%= @restaurant.reviews.each do |r| %>
    <li><%= r.content %> - <%= r.star %></li>

  <% end %>
  </ul>
</p>

<p> learn more about the chef of the restaurant <%= link_to 'here', chef_restaurant_path(@restaurant) %></p>

<p><%= link_to "Add a Review", new_restaurant_review_path(@restaurant) %></p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
